[2016-07-08 12:33] Github-Player opened #4 "How to fix the url prefix wrapped ?"
In the end of one line, the 'http://' url prefix wrapped.
how to fix the if one line not enough to show url, wrap to new line to show the full url ?

example :

xxxxx http://
github.com

to

xxxxx
http://github.com

[2016-07-08 15:10] obipawan commented on #4
does your render function look something like this ?

[code]

[2016-07-11 05:09] tommychoo commented on #4
No,  i just append this format
`
<Text>xxxxxx</Text>
<Text>Full link (http://github.com)</Text>
<Text>xxxxxxx</Text>
`
Are you tried this and get this problem ? because your preview image also has this issue

[2016-07-23 08:21] obipawan commented on #4
@tommychoo first off, I apologise for the delay, been really busy :(
The wrapping would happen as it would with a regular `<Text/>` component. Have you tried by only setting an empty `onPress` prop like `onPress={() => {}}` and not the `linkStyle` prop in the `Hyperlink` component  and then with only `<Text />`? It would most likely look the same. Example below

[code]
Vs

[code]
* notice that I h

[2016-07-27 15:00] vandervidi opened #5 "Touchable opacity on link press in Android"
can you add this feature?

[2016-07-28 20:24] obipawan commented on #5
Adding this would be simple enough, but as of now it inherently depends on the `<Text>` component to be capable of nesting regular `<View>`s.
There's a PR for nesting Views in Text components
https://github.com/facebook/react-native/pull/8619 and it should hopefully be merged sometime soon.
So with that, it would be possible to add this with a release which has this merged in react-native
cheers

[2016-08-17 05:59] #4 closed

[2016-09-06 08:45] #5 closed

[2017-01-16 23:17] indivisable opened #8 "Any reason this would stop working with RN 0.36"
I have used this for past few months but recently (as of yesterday) it became a lot less reliable. Not sure if this is because of an update or something else but now when I tap the links it only works like 25% of the times and it used to work all the time.

[2017-01-17 03:14] obipawan commented on #8
That's weird. The update you're talking about, is it this library or react
native?
There was an update with hyperlink couple of weeks back for links
actionable on long clicks, so maybe there's a bug due to an oversight.. If
so could you try using 0.0.7?
If it was react native itself (0.36), I'll have a look in about a week's
time (on vacation :) )
In the meantime, if you could share something repr

[2017-01-17 03:39] indivisable commented on #8
It seems it may be with RN 0.36 as I tried using Text onPress={} and similar issue. I will try to reproduce but I tested against a similar library (react-native-autolink and plain Text) and got same results so I'll close it for now.

[2017-01-17 03:39] #8 closed

[2017-02-06 21:47] chuckhacker opened #9 "If no onButtonPress, default to just calling Linking.openURL()"
Why doesn't a URL hyperlink library open a URL by default if there's no special callback overriding the behavior? Doesn't make sense to me.

[2017-02-08 07:01] obipawan commented on #9
hey @TheChuckster, I wasn't really aiming for this library to have a default at the time of building this. You do have a point and I agree 👍, I'll be happy to accept a PR for this

[2017-02-08 19:20] TheChuckster commented on #9
Ah, the only caveat is that on iOS you have to pull in a native module to use Linking:
https://facebook.github.io/react-native/docs/linking.html

[2017-03-20 03:41] mbodge opened #10 "linkify example?"
Hey there, thanks for making this library. I'm looking to do some twitter parsing and want to add a @name recognizer to add a link  to it. I saw ou support linkify-it but I can't figure out what kind of object i'm supposed to pass. Any simple example you can provide would be super helpful. Thanks.

[2017-03-20 08:20] obipawan commented on #10
Hey @mbodge

This is an example from the [linkify-it](https://github.com/markdown-it/linkify-it#example-2-add-twitter-mentions-handler)'s repo

[code]

so basically your component should look something like

[code]

[2017-03-21 02:16] mbodge commented on #10
You. Are. The. Best.

Thanks so much for this.

[2017-03-21 02:16] #10 closed

[2017-05-09 07:10] cherniv opened #12 "[IOS] No component found for view with name "RCTVirtualText""
Hey after RN upgrading to version 0.44, hyperlink stopped working. It crashes with this error:

The code is:
[code]
The interesting part is that this is working fine:
[code]

Any ideas?

![image](https://cloud.githubusercontent.com/assets/3829914/25838988/60657626-349e-11e7-8335-c496f147c922.png)

[2017-05-09 09:00] obipawan commented on #12
Hey @cherniv!
Thanks for reporting. I haven't tried this out on 0.44 yet, so I'm not really sure what could be causing this. Will take a look at this later tonight :)

[2017-05-09 18:57] obipawan commented on #12
@cherniv I tried this out with a fresh project on `0.44` running on iOS and I didn't observe this crash. I tried looking through the error in the react-native repo and it seems like this is a java native file. Seems odd that a bundle for iOS is looking for a native module in android. Perhaps you have your own npm script to run android | iOS bundles separately and that got mixed up?
Either way, you

[2017-05-09 18:59] obipawan commented on #12
also here's a result for a text search `RCTVirtualText` https://github.com/facebook/react-native/search?utf8=%E2%9C%93&q=RCTVirtualText&type=`

[2017-05-10 15:56] cherniv commented on #12
Ok, i downgraded my RN version to 0.43.4 and now it works. Thanks

[2017-05-10 15:56] #12 closed

[2017-05-24 06:35] indrasantosa opened #13 "Doesnt work on my android device"
Library doest work for android. anyone have the same case?

[2017-05-24 07:30] obipawan commented on #13
hey @indrasantosa
Can you provide some more details?

[2017-05-29 04:59] indrasantosa commented on #13
After I install it and follow thru, the text doesnt changed into a link.
But then when I tested it on ios, I can see it transformed into a link and
works perfectly.

On Wed, May 24, 2017 at 3:30 PM, Pawan <notifications@github.com> wrote:

[2017-05-29 05:15] obipawan commented on #13
can share your component code?

[2017-06-01 23:43] jakecraige commented on #9
I think you'd only need to do that if you wanted to handle app open URLs, not for opening a URL

[2017-06-20 16:05] obipawan commented on #13
ping!

[2017-06-29 02:48] jimmyc1987 opened #14 "onLongPress not working on Android"
Works fine on iOS.

Nice work btw. Thanks.

[2017-07-09 17:28] obipawan commented on #14
Hey @jimmyc1987

Thanks for reporting and apologies for the delay :)

I just tried `onLongPress` on my android device and seems to be working. Could it be that your `Text` or any `View` component has a small tappable area?

Please feel free to drop in some code where you think this prop fails

Glad you like it :)

[2017-07-09 17:33] obipawan commented on #13
Closing this. @indrasantosa please feel free to drop a note with some details if you still feel there's a problem getting this to work on android.
Also, if the problem is to highlight links, have you tried tinkering with the `linkStyle` prop?

https://github.com/obipawan/react-native-hyperlink#props

[2017-07-09 17:33] #13 closed

[2017-07-09 19:32] obipawan commented on #9
Added support for [Linking](https://facebook.github.io/react-native/docs/linking.html). By default, the behaviour won't kick in, so you'll have to set the `linkDefault` prop to let the platform take over if the `onPress` prop isn't specified.

Available in [0.0.10](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.10)

[2017-07-09 19:32] #9 closed

[2017-07-15 16:58] obipawan commented on #14
ping!

[2017-08-04 04:17] obipawan commented on #14
closing as abandoned.

[2017-08-04 04:17] #14 closed

[2017-08-28 02:41] justinffs opened #15 "PropTypes has been moved to a separate package. Accessing React.PropTypes is no longer supported and will be removed completely in React 16. Use the prop-types package on npm instead"
Simple fix will submit a PR

[2017-08-31 14:36] obipawan commented on #15
thanks @justinffs

[2017-08-31 14:36] #15 closed

[2017-11-02 14:41] jose920405 opened #17 "Only works with https://"
when I try to support pages with `http:` or simply with `www.`.

Example

http://www.whatever.com
www.whatever.com

Does not works

I have used

[code]

and now if it detects them. But when I press this links `www.whatever.com`, they do not work. I'm not sure is this is a android requirement, but would be good know the best way for fix it, because in my case i can't guaranteeing `https` to `http`

[2017-11-03 07:02] obipawan commented on #17
hey @jose920405

Not sure if I get you. Are you saying that the `http` protocol isn't working for you? It shouldn't be the case. Can you share your jsx with the Hyperlink component?

For an action on clicking, you need to either provide a `onPress` function prop or `linkDefault={ true }` for the platform to take care of linking

[2017-11-07 12:16] obipawan commented on #17
ping! :)

[2017-11-14 19:13] obipawan commented on #17
@jose920405 I'm closing this issue. Please feel free to write back if you still have this issue. Thanks

[2017-11-14 19:13] #17 closed

[2017-12-29 07:34] ngocht143 opened #19 "How to remove auto detect link?"
Hi @obipawan, i have an issue when using your lib that i want to display a text
'Saya telah membaca dan menyetujui **ketentuan penggunaan** cinobile.com' and i just want to use hyperlink for the text 'ketentuan penggunaan' only. But when using your lib, it detected both the url 'cinobile.com'. How to remove auto detect link? Thanks in advance

[2017-12-29 07:47] ngocht143 commented on #19
Here is my code:
`<Hyperlink
                            linkStyle={{ color: '#074e8e', textDecorationLine: 'underline' }}
                            linkText={url => url === 'https://google.com' ? 'ketentuan penggunaan' : 'cinobile.com'}
                            onPress={() => { alert('Blabla') }}>
                            <Text style={{ marginTop: 20 }}>
                                Sa

[2017-12-29 07:59] obipawan commented on #19
hey @ngocht143
Thanks for using hyperlink :)

This library uses [linkify-it](https://github.com/markdown-it/linkify-it) to identify and parse urls.

You'll need to play around with the linkifiy-it object itself and pass that as a prop to `Hyperlink`.
Something like so

[code]

Check out the [Linkify-it](https://github.com/markdown-it/linkify-it) library for more details. Let me know if you still h

[2017-12-29 09:23] ngocht143 commented on #19
Hi @obipawan, I'm trying to custom linkify like this:
const linkify = require('linkify-it')()
linkify.add('http:', null) // custom handler
and use in Hyperlink:
`<Hyperlink
                            linkify={linkify}
                            linkStyle={{ color: '#074e8e', textDecorationLine: 'underline' }}
                            linkText={url => url === 'https://google.com' ? 'ketentuan

[2018-01-04 19:24] obipawan commented on #19
Hey @ngocht143

adding `linkify.add('http:', null)` will disable all http links. If you want to add `ketentuan penggunaa` as a linkable text - you'll have to add this

[code]

Also, I'm a little confused with what you want to achieve, do you want to replace a matched text with something else? or do you want to be able to match plain text like `ketentuan penggunaan`?

Apologies for the delay - I wa

[2018-01-05 01:15] ngocht143 commented on #19
Good morning @obipawan
Here is what i want: [http://prntscr.com/hw86ye](url)
But here is what i got: [http://prntscr.com/hw88ai](url)
I'm expecting to listen onPress at 'ketentuan penggunaan' to go to policy screen (not go to web link), and the 'chodocu.com' is plain text, not hyperlink.

Thank for your support :)

[2018-01-18 20:03] tfsjohan opened #21 "Background color change on long press"
If I long press anywhere on a text wrapped by Hyperlink, the background turns gray like a TouchableHighlight.

Can this behavior be turned off?

[2018-02-28 17:18] ssg-luke opened #25 "Color of normal text overrides link style"
I have run into an issue while using this module with the child having a defined color. At the moment I have the ```<Hyperlink>``` component wrapping a single ```<Text>``` component. The ```<Hyperlink>``` component has the ```linkStyle``` prop defined with color: "blue". The ```<Text>``` component also has its color set on the ```style``` prop to some offshade of black. However the resulting text

[2018-03-01 10:34] ssg-luke commented on #25
Oh never mind I just removed the <Text> component and instead defined my text style on the <Hyperlink> component. Works fine.

[2018-03-06 15:16] ssg-luke commented on #25
Sorry had to re-open this. I had to re-wrap the text in the ```<Text>``` component otherwise I would occasionally see errors about RawText needing to be wrapped in the ```<Text>``` component. After doing so I have noticed that it works perfectly fine on iOS but ```linkStyle``` does not work on Android only.

[2018-03-06 15:28] obipawan commented on #25
Thanks for reporting and using Hyperlink @ssg-luke :)
What's the RN version you're on?
Also, Hyperlink does not handle raw text on its own, it works on `Text` components nested within Hyperlink

[2018-03-06 16:42] ssg-luke commented on #25
I'm using RN 0.48.3

[2018-03-13 11:56] lequetur commented on #21
I have this issue but only on iOS.

[2018-03-23 21:49] rcarvalho commented on #25
I have a similar issue, except I want to give more information here. My block of text has multiple hyperlinks inside of it. Only the first hyperlink is not colored correctly. All subsequent hyperlinks have the proper styling. The issue only happens on Android; not iOS.

[2018-03-30 08:29] VishalKumar2016 opened #26 "How to detect multiple links and get perticular link which has been clicked."
Hi , i have an issue I am getting text from server and I don't know how many link the text can have but I want all links clickable and blue and want to get particular link which has been clicked when user click any link from multiple links text.
Please guide me how I can achieve this? Thanks in advance.

[2018-03-31 14:36] ChristianTucker commented on #26
This isn't a direct answer to your question, but if you're obtaining data from a server, perhaps markdown would better suit your needs.

https://github.com/lwansbrough/react-native-markdown
https://github.com/CharlesMangwa/react-native-simple-markdown/tree/master

[2018-04-11 10:41] timt opened #27 "componentWillRecieveProps deprecation warning for react 16.3.1"
componentWillReceiveProps is now deprecated in React. (line 26 of hyperlink.js)

It is now recommended to use getDerivedStateFromProps instead, see https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops

[2018-04-14 18:36] novakben commented on #21
Same here

[2018-04-21 08:02] obipawan commented on #25
Apologies for the delay guys.

I've been trying to reproduce this on android and I'm unable to. @rcarvalho @ssg-luke could you please share a minimal snippet of the problem?

I've tried @ssg-luke's sample and that seems to work alright. I'm probably missing something.

[2018-04-21 08:15] obipawan commented on #26
react-native-hyperlink should be able to solve your problem

wrap all the response you get from the server inside a `Text` component and that inside the `Hyperlink`

All hyperlinks are automatically clickable when you provide the `onPress` prop to Hyperlink. For the styling, you can use `linkStyle` prop

The `onPress` gives you the text when clicked

A simple example for this
[code]

[2018-04-21 08:15] #26 closed

[2018-04-21 08:17] #19 closed

[2018-04-21 08:58] obipawan commented on #21
This should be fixed with [v0.0.13](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.13)

[2018-04-21 08:58] #21 closed

[2018-04-23 06:09] VishalKumar2016 commented on #26
Thanks @obipawan

[2018-04-25 21:28] chrismllr opened #28 "Tapping anywhere in original Text component triggers link"
Tapping anywhere within the Text will trigger an onPress (in the below example).

It seems the last link declared in the passed Text component will be used when tapping anywhere. Video attached.

[code]

### Versions
[code]
![hyperlinks-multiple](https://user-images.githubusercontent.com/9942917/39274106-8f865656-48a6-11e8-8d65-20ce63d1d7fc.gif)

[2018-04-25 22:15] landonalder commented on #28
I can reproduce this with react-native 0.53 and react-native-hyperlink 0.0.13

[2018-04-26 10:53] Cederman commented on #28
Happens for me as well in 0.0.13

[2018-04-26 16:10] obipawan commented on #28
Thanks for reporting folks. It seems that the last release went in with a regression bug.
I've added a fix for it and is available in [v0.0.14](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.14)
Could you please try it out and let me know if this fixed the issue for you?

I'll be available to fix anything further asap.

[2018-04-26 17:14] landonalder commented on #28
Appreciate the quick fix! Everything appears to be working fine for me on 0.0.14

[2018-04-26 17:35] chrismllr commented on #28
@obipawan Thank you so much for the quick turnaround! `0.0.14` fixes the issue.

[2018-04-26 22:05] #28 closed

[2018-05-04 05:32] danferd opened #30 "How to have multiple linkText?"
How can i have multiple linkText in one Hyperlink component?

Trying to do it like the code below but it's not working.
[code]

[2018-05-04 05:52] #30 closed

[2018-05-30 10:23] achipa opened #31 "onHover for RN Windows"
I've been playing with react-native-hyperlink on windows (as in react-native-windows), and one of the things I miss is an onHover handler. I understand this might not be interesting on platforms without pointers, but would you take a PR to add this if it's behind a platform selector?

[2018-05-30 14:23] obipawan commented on #31
Would this also apply to react native web?

[2018-05-31 10:11] achipa commented on #31
Yes, the principle (mouse event handling) should be the same, minor syntax differences notwithstanding.

[2018-08-14 11:39] matveychuk opened #34 "Using with react-native-web"
I tried to use this package for web using react-native-web. But while building had an error:
ERROR in ./node_modules/react-native-hyperlink/dist/index.js
Module not found: Error: Can't resolve 'react-native' in '/.../web/node_modules/react-native-hyperlink/dist'.
Should I install the whole react-native package only to use react-native-hyperlink?

[2018-11-05 22:44] pierre-elie opened #36 "Error thrown on null children"
Consider the following where `subtitle` can be null/undefined, in which case we do not add a `<Text>` element for it:

[code]

This causes Hyperlink to throw en error `Cannot read property 'type' of null`.

I think this comes from the method parsing children, there is no safe-guard against null/undefined:

https://github.com/obipawan/react-native-hyperlink/blob/8cf43183bbd53ed28a03791eec7601da1d24

[2018-11-06 13:38] ObidosDev opened #37 "Wrong parsing of link"
https://finance.liga.net/bank/novosti/privatbank-planiruet-spisat-300-tysyach-kreditov---smi

<img width="370" alt="screen shot 2018-11-06 at 15 39 28" src="https://user-images.githubusercontent.com/16224235/48067943-2d10dc80-e1da-11e8-89df-be126d0e95a3.png">

[2018-11-06 14:38] obipawan commented on #37
I'm sorry I don't understand. Could you please use google translate to post the issue in English?

[2018-11-13 21:29] ObidosDev commented on #37
Hi @obipawan sorry for missing description. There just a screenshot where I show how link have been parsed. There last part (---smi) have been lost.
Do not try to read it, just look at the resulting link (blue one)

[2018-11-13 21:32] ObidosDev commented on #27
or componentDidUpdate

[2018-11-28 17:22] Ayyagaries opened #38 "Does not work for phone number"
[code]

This is how I am calling it in my code

[code]

The email works but the phone number does not show the link.

[2019-04-07 10:38] obiwankenoobi commented on #30
Hey How did you solved it? (:

[2019-04-07 10:42] obiwankenoobi commented on #30
For those how struggle with that , you can do something like this

[code]

[2019-04-16 15:54] brendandestefano opened #39 "Emails not working on Android devices"
**Describe the bug**
Tapping on mailto links on Android device is not opening mail apps. Working fine on iOS devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on mailto:someemail@email.com
2. See blank screen

**Expected behavior**
Open default mail app or show mail app choices

**Screenshots**
![Screenshot_20190416-110528](https://user-images.githubusercontent.com/18404323/5622

[2019-04-29 15:00] danielsGit commented on #38
Same issue on my side. Do you have any solution @Ayyagaries ?

[2019-05-02 19:52] alburdette619 commented on #39
I'm seeing this on iOS with `linkDefault` as well.  It does nothing.

[2019-05-02 20:13] alburdette619 commented on #39
Setting the following props worked for me on both platforms;

[code]

[2019-06-03 09:40] mbaroukh opened #40 "VI swap file committed"
Hi.

Maybe you should remove
https://github.com/obipawan/react-native-hyperlink/blob/master/src/.Hyperlink.js.swp
from repository :)

[2019-08-16 20:08] ETLopes opened #42 "Not linking custom domains"
**Describe the bug**
React-native-hyperlink is not linking custom urls. For example "www.trusst.app" does not get linked.

**To Reproduce**
Steps to reproduce the behavior:
create a text within the Hyperlink tag with the text www.trusst.app

**Expected behavior**
The text should be clickable and formatted as designed.

**Screenshots**
![Image from iOS](https://user-images.githubusercontent.com/349

[2019-08-24 07:57] obipawan commented on #42
Hi @ETLopes
Thanks for reporting.
Hyperlink uses [linkify-it](https://github.com/markdown-it/linkify-it) to detect patterns.

You need to pass a custom linkify-it object like so,

[code]

[2019-08-24 07:57] #42 closed

[2019-08-25 10:33] obipawan commented on #38
I doubt [linkify](https://github.com/markdown-it/linkify-it) supports detecting phone numbers. But you're free to try creating a pattern for detection. Please have a look at  [linkify's](https://github.com/markdown-it/linkify-it) [docs](http://markdown-it.github.io/linkify-it/doc/) to customize linkify as per your needs. Make sure you pass the linkify object as a prop to Hyperlink under prop `link

[2019-08-25 10:33] #38 closed

[2019-08-25 10:36] obipawan commented on #25
closing as abandoned.

[2019-08-25 10:36] #25 closed

[2019-08-25 11:13] obipawan commented on #40
Thanks for reporting @mbaroukh  :)
Removed this in [v0.0.16](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.16)

[2019-08-25 11:13] #40 closed

[2019-08-25 11:15] obipawan commented on #36
Thanks for reporting @pierre-elie.
This took a lot of time for my attention, but I've been able to get the fix out in [v0.0.16](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.16)

[2019-08-25 11:15] #36 closed

[2019-08-25 11:15] obipawan commented on #37
Fixed in [v0.0.16](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.16)

[2019-08-25 11:15] #37 closed

[2019-08-25 11:16] obipawan commented on #31
Closing as abandoned

[2019-08-25 11:16] #31 closed

[2019-10-24 07:32] gran33 opened #43 "Add TestID to clickable part for e2e tests"
**Is your feature request related to a problem? Please describe.**
Yes.
I'm using Detox to e2e tests and Detox can't press on the link without `TestID`.

**Describe the solution you'd like**
Please add the ability to set `TestID` to the clickable component.
See RN docs for TestId: https://facebook.github.io/react-native/docs/view#testid

**Describe alternatives you've considered**
None.

**Additio

[2019-10-24 16:19] clickclickonsal commented on #27
Any updates on this? I'm happy to jump in on the PR if needed. :-)

[2019-12-10 06:50] obipawan commented on #27
Fixed with (#29). [v0.0.17](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.17)

[2019-12-10 06:50] #27 closed

[2019-12-10 10:21] stianjensen opened #44 "`linkify` prop is no longer optional"
As of 0.17.0 that was released today, the library does no longer work when you do not provide a custom linkify-it object as a prop.

The problem is that the existing default value that gets set in the constructor gets unset by the getDerivedStateFromProps call here: https://github.com/obipawan/react-native-hyperlink/blob/980b4117928bad092a8eb816c6b09ac8ef43771d/src/Hyperlink.js#L20

A work-around

[2019-12-11 11:24] obipawan commented on #44
hi @stianjensen Thanks for reporting! This is an unfortunate miss from my end. I've made a release with linkify declared with a default prop. Should be ok as the instance is shared for renders without this prop. [v0.0.18](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.18). Let me know if there are any other issues 👍

[2019-12-11 11:24] #44 closed

[2019-12-21 10:18] obipawan commented on #43
Hi @gran33 thank you for the context 😄
could you suggest how'd you want to be able to pass down the `TestID`?
I could use some help with the design.

I was thinking something like so

[code]

[2019-12-22 08:10] gran33 commented on #43
Hi @obipawan
I there any way to pass props to the clickable part of the hyperlink?
`injectProps` isn't self explanatory (sorry for the douchebaging  😏)
I think `injectViewProps` :)

WDYT?

[2019-12-23 08:16] obipawan commented on #43
`injectViewProps` sounds good. Apart from the proposed `injectViewProps`, there isn't a way to pass props to a clickable component. So a func with `url` as the param and returning props sounds good?

[2019-12-24 08:14] obipawan commented on #43
Opened a PR #46
LMK if this seems good. I'll go ahead with a release if it's all good

[2019-12-24 08:38] gran33 commented on #43
Hi, Thanks for the PR.
Why that?

[2019-12-24 08:49] obipawan commented on #43
This PR should solve that. You could pass props to a clickable component identified by the url

[2019-12-24 08:50] gran33 commented on #43
Ok, sounds good.
As long as I can identify the clickable part by its `testID`

[2019-12-24 09:19] obipawan commented on #43
Thanks @gran33
Just to clarify, you can pass props to the clickable part identified by the url it matched, like so,

[code]

[2019-12-24 09:20] gran33 commented on #43
Amazing!
Thanks @obipawan

[2019-12-24 09:24] obipawan commented on #43
Great. Then i'll merge this
Thanks for your help @gran33

[2019-12-24 09:59] obipawan commented on #43
Available on [v0.0.19](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.19)

[2019-12-24 09:59] #43 closed

[2019-12-31 03:51] jjg77 opened #47 "Issues when hyperlink is nested"
If the hyperlink component is nested under another touchable, both events fire.  First the parent touchable fires, then the hyperlink fires.   Anyway around this?

[2020-01-02 06:42] obipawan commented on #47
This isn't really the library's issue. You'd expect the same behaviour with a regular `Text` component with an `onPress` prop. The following example demonstrates it.

[code]

This library in-fact breaks your text into multiple `<Text/>` components. My guess is, you'll have to reorder your jsx isolating the touchable.

[2020-01-02 06:42] #47 closed

[2020-03-20 00:23] adamzerner opened #49 "Does this library use WebView?"
It doesn't look like it, but I just wanted to be sure. Apple doesn't accept apps with WebView anymore and I wouldn't want to get rejected at the last step if there's something I've missed.

[2020-04-07 08:54] obipawan commented on #49
Hi @adamzerner. This library does not use a webview. It's based purely on react-native

[2020-04-07 08:54] #49 closed

[2020-04-23 15:29] swapanil opened #50 "onPress not working properly on iPhone"
**Describe the bug**
onPress not working properly on iPhone

**To Reproduce**
When we click on hyperlink it is not working properly
It is working although but not sometimes.

**Expected behavior**
Should call onPress when the user press on hyperlink

**Smartphone (please complete the following information):**
 - Device: iPhone 6,IPhoneX

Here is my code

[code]

[2020-06-25 06:35] 3akat commented on #30
I suggest to add this to the readme.

[2020-08-10 16:23] filipegl opened #53 "Text Input"
**Is your feature request related to a problem? Please describe.**
I can't identify links through Text Input

**Describe the solution you'd like**
It would be amazing if it were possible to identify links through Text Input, just like Whatsapp

[2020-08-27 13:58] robertgaal opened #54 "Dot app domains not linked without http(s)"
**Describe the bug**
A dot app domain (get.app) isn't linked without also adding http or https (https://get.app). This is however true for dot com (github.com / https://github.com) domains and others.

**To Reproduce**
Steps to reproduce the behavior:
1. Input string "get.app and https://get.app"
2. "get.app" is not linked

**Expected behavior**
2. "get.app" is linked

**Screenshots**
![Screen Sho

[2020-08-27 15:32] obipawan commented on #54
Seems like a duplicate of https://github.com/obipawan/react-native-hyperlink/issues/19#issuecomment-354412306. Give this a shot?

[2020-08-27 16:16] robertgaal commented on #54
Thanks for the lightning fast response!

I can definitely add a custom handler. But note that when I for instance use .com or .co or .nl, this works as intended. It's just .app where this fails.

Are you saying I should file a bug with linkify-it instead to support the dot app TLD? It appears they use [node-tlds](https://github.com/stephenmathieson/node-tlds) and that does have dot app included.

[2020-09-09 10:49] enigmablue opened #55 "Can't open hyperlink in Modal"
Got this error when trying to open a link from a modal

Exception 'Application tried to present UIModalTransitionStylePartialCurl to or from non-fullscreen view controller <RCTModalHostViewController: 0x7fec0f84df90>.' was thrown while invoking open on target RNInAppBrowser with params (

Any suggestion? I can't change it to non modal

[2020-09-09 11:00] enigmablue commented on #55
Fixed it on the inapp browser reborn sorry

[2020-09-09 11:00] #55 closed

[2020-09-29 19:04] karanmartian opened #56 "linkDefault no longer works on iOS with Expo SDK 39"
Only on iOS seeing this issue, have to explicitly mention Linking.openURL in onPress func. This is after upgrading to RN Expo 39.0.0 SDK

[2020-11-05 16:41] iamgerardm opened #57 "Non Safari default browser links do not work"
If your default browser is set to something aside from Safari -- links do not open.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Chrome and set it as a default browser
2. Tap a link

**Expected behavior**
Links open

**Smartphone (please complete the following information):**
 - OS: 14+ -- maybe lower

[2020-11-10 10:29] rrufus commented on #56
It also appears not to work on iOS14.1 with RN Expo 38.0.0 SDK, but explicitly mentioning Linking.openURL had no effect.

I'm going to try updating to Expo 39.0.0 SDK in the hope that the workaround of using onPress works there.

[2020-11-24 14:16] cedancp commented on #57
Hello @iamgerardm

After debugging the issue I found out that the "problem" was with Linking from RN returned not supported URL when the default browser is not Safari.

The solution for me was to configure my iOS app like this:

Hope this helps.

[2020-11-26 16:51] debiff commented on #57
Can you share the snippet of info.plist to see how you add the suggested entry?

Regards

[2020-11-30 20:18] cedancp commented on #57
This is the key of info.plist where I added the schemes
[code]

[2020-12-03 13:24] eladcandroid commented on #56
Any news?

[2020-12-04 19:33] ShaneKeney commented on #56
Also have a project that is running RN Expo 39.0.0.  On iOS I am noticing that the onPress seems to not fire.  The onLongPress does fire though.

A workaround here is to add your own `Linking` logic but I'd rather have a fix for the `onPress` to fire correctly.

[2020-12-05 05:58] obipawan commented on #56
This is weird. I don't have an iOS device atm, I'm hoping this is reproducible on the simulators?

[2020-12-06 18:48] Njaah-0 opened #58 "When used on Web, error about prop types appear."
**Describe the bug**
This error is given on Web:
Failed prop type: Hyperlink: prop type `linkStyle` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`.     in Hyperlink (created by _default)

This happens because Text.propTypes is no longer a thing in latest RNW.

**To Reproduce**
Try using this package with latest RNW.

**Expected behavior**
No erro

[2020-12-18 18:11] brandonpearcy commented on #58
I can confirm this patch works.

1. Edit `node_modules/react-native-hyperlink/src/Hyperlink.js`
2. Replace `linkStyle: textPropTypes.style,` with `linkStyle: _propTypes["default"].oneOfType([_propTypes["default"].object, _propTypes["default"].number]),`
3. Make your patch persistent somehow, e.g. `npx patch-package react-native-hyperlink`

[2020-12-23 18:16] ShaneKeney commented on #56
@obipawan Also noticed that this is only occurring for situations where Google Chrome is set as default browser.  When I set my default browser to Safari, it works per usual.

[2021-01-02 13:18] koushikmohan1996 commented on #56
@ShaneKeney I am having the same issue as chrome is set as the default browser. Did you find any solution for this

[2021-01-02 16:40] koushikmohan1996 commented on #56
Never mind it can be fixed by doing this step

https://github.com/obipawan/react-native-hyperlink/issues/57#issuecomment-733001152

[2021-01-04 00:05] ShaneKeney commented on #56
@koushikmohan1996 We used Expo managed workflow so that solution wouldn't work for us directly.  I'll have to check to see if that is configurable param for Expo app.json config.  Otherwise we may just build out our own.

[2021-01-04 02:57] koushikmohan1996 commented on #56
Okay. I was facing many issues like this while using expo. That's the main reason I moved to bare react native. :)

[2021-02-03 18:13] ShaneKeney commented on #56
This issue seems to be resolved now.  No longer facing these issues.

[2021-02-12 19:27] johannbuscail opened #59 "Is this still supported ??"
Not working on ios #56 + proptype errors on web. #58
Is this still supported ??

[2021-03-24 16:12] HugoGresse commented on #59
Probably going to use https://github.com/joshswan/react-native-autolink

[2021-04-13 14:32] Shedav commented on #50
the same issue

[2021-08-18 08:43] XoanTT opened #63 "Not detected hyper link in text"
I have some text detail to show and I won't show hyperlinks.
this text's ok: 'this is link https://www.google.com.vn/'
but this text is not OK: 'this is linkhttps://www.google.com.vn/'
I think it can't be detected hyperlink when link not white space

[2021-11-04 12:42] 3DJakob commented on #25
I have this issue too on iOS. However I only when using styled-components. I solved this by adding `style={{ color: '#fff' }}` to the styled component instead of using the standard style-component definition. Very strange, I presume it has something to do with the styling overriding one another.

[2022-02-02 21:24] DanielWoldehana commented on #13
hey obipawan, I am having similar issues. hyperlink works fine on ios and android simulators but when tested on a real android device the links were there meaning hyperlink did manage to parse the links and apply any linkStyles but when clicked it did not work. code was simply this:
`<Hyperlink linkDefault={true}>
    <Text> some text and [link here]</Text>
 </Hyperlink>`

 I tried:
 `<Hyperlink

[2022-02-13 15:32] asma-omar opened #64 "hyperlink on press doesn't work on Android 12"

[2022-03-21 21:18] Nolascoin commented on #64
Possible solution
[https://stackoverflow.com/a/70672054/65694](https://stackoverflow.com/a/70672054/65694)

[2022-04-20 11:22] mmkhmk commented on #53
It would be appreciated if TextInput is supported.
Thank you.

[2022-05-20 13:57] mongy92 opened #65 "export the Props"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-hyperlink@0.0.19` for the project I'm working on.

in some cases we need to export the `Props`

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated by patch-package](https://github.com/ds300/patch-package/iss

[2022-05-20 13:58] #65 closed

[2022-06-02 11:07] codal-mpawar commented on #10
@obipawan @mbodge Can you please help me how can i render this
@[Manthan](1fca0e7d-92c3-40c4-9c9c-be84124ec9a8) dads asd @[Manthan](072ac78f-ae12-4049-b721-846092acb8f5)

We need to add space allow in that name
and we need id tap on the name.

[2022-07-29 12:53] Pauline-dcs commented on #21
HI @obipawan :) I have this issue again with the v0.0.19 and can't find a way to remove this grey highlight on long press. Do you have any solution?

[2022-07-29 13:38] ursnj opened #67 "Throwing error with react-native 0.69.3"
**Describe the bug**

Warning: Failed prop type: Hyperlink: prop type `linkStyle` is invalid; it must be a function, usually from the `prop-types` package, but received `undefined`.This often happens because of typos such as `PropTypes.function` instead of `PropTypes.func`.
    at Hyperlink (http://localhost:8081/index.bundle?platform=android&dev=true&minify=false&app=njsolutions.watchpartys&modul

[2022-08-11 20:16] adamblvck commented on #67
I'm experiencing exactly the same error, now running on Expo SDK 46 (`react-native@0.69.4`)

[2022-08-15 09:10] karanmartian commented on #67
when will a release be made with the fix? looks like the PR is already done

[2022-08-15 11:58] ursnj commented on #67
I dont think this is active , so i ahve fixed it in react-native-linkify library

[2022-08-15 12:08] karanmartian commented on #67
@ursnj could you share the link to this link? cant find it - react-native-linkify

[2022-08-15 16:25] ursnj commented on #67
https://www.npmjs.com/package/react-native-linkify

[2022-08-16 08:00] karanmartian commented on #67
@ursnj you are still using const textPropTypes = Text.propTypes || {} in that source at the new repo if I am not mistaken. This would throw the same error. It should be TextPropTypes right?

[2022-08-21 13:30] tomwaitforitmy commented on #67
@karanmartian did you try @ursnj package? Solved the issue for me 👌. It would prefer a fix to this repo here, but if it is not active what can we do?

[2022-08-22 08:46] obipawan commented on #67
hey folks, fixed in [0.0.21](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.21). Let me know if this works.

[2022-08-22 10:16] sandergo90 commented on #67
@obipawan this new release is giving typescript issues.

`import Hyperlink JSX element type 'Hyperlink' does not have any construct or call signatures`.

[2022-08-22 10:58] obipawan commented on #67
Oh crap i messed up the export! I'll fix this in an hour, I'm outside without my machine. In the meanwhile you can  `import {Hyperlink} from 'react-native-hyperlink'.

[2022-08-22 15:37] obipawan commented on #67
@sandergo90 updated with [v0.0.22](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.22). Hope this works 🤞

[2022-08-22 15:41] obipawan commented on #63
@XoanTT this package is built on top of [linkify-it](https://github.com/markdown-it/linkify-it) for parsing potential links. You'd have to build your own patterns as per the documentation of linkify-it to get custom links apart from the defaults that it understands.

[2022-08-22 15:41] #63 closed

[2022-08-22 15:43] #57 closed

[2022-08-22 15:45] obipawan commented on #58
the latest version [v0.0.22](https://github.com/obipawan/react-native-hyperlink/releases/tag/v0.0.22) has the fix with types.

[2022-08-22 15:45] #58 closed

[2022-08-22 15:46] #56 closed

[2022-08-22 15:47] #54 closed

[2022-08-22 15:48] obipawan commented on #53
No plans for TextInput at the moment.

[2022-08-22 15:48] #53 closed

[2022-08-22 15:48] #34 closed

[2022-08-22 15:49] #39 closed

[2022-08-23 10:17] sandergo90 commented on #67
Works like a charm, thanks 👌

[2022-08-24 16:00] #67 closed

[2022-09-03 20:19] duggster commented on #58
Hi @obipawan do you know when v0.0.22 will be released?

[2022-10-13 05:14] umangloria commented on #64
Works great, Thank you.

[2022-11-02 04:51] #59 closed

[2022-11-30 03:24] ugglr commented on #64
Adding this to my `AndroidManifest.xml` fixed my problem

[code]